node_modules/electron/dist/electron filter=lfs diff=lfs merge=lfs -text
packager_cache/e868561629396e264149cd52e2634548a108262a393251fe1b220bec61f2567e/electron-v17.2.0-linux-arm64.zip filter=lfs diff=lfs merge=lfs -text
